extends layouts/main-layout

block styles
    title Page Not Found

block content
    .container.text-center
        h1.display-4 Page Not Found
        br
        p.lead 404 Error, cannot find page
        hr.my-4
        a.btn.btn-primary.btn-lg(href='/' role='button') Home
