extends layouts/main-layout

block styles
    title Lifting Stats
    script(src='https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js' type='text/javascript')
    link(href='https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css' rel='stylesheet' type='text/css')
    script(src='index.js')

block content
    form#datepick.container.text-center(action='/date' method='POST')
        br
        h2 Lift-Stat
        br
        h5 Enter training date:
        p.text-muted Leaving this blank will default to today's date.
        input#datepicker(name='trainDate' type='text' width='100%')
        br
        input.btn.btn-primary(type='submit' value='Submit')
        br
        br
        br
        h5
            | Create a new template 
            a(href='template') here