extends layouts/main-layout
block styles
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js')
    
    if date == 'placeholder'
        title Lift
    else
        title !{JSON.stringify(date).replace(/['"]+/g, '')}
        
block content

    br
    .text-center
        form(action='/getTemplateContents' method='post')
            select.selectpicker(data-live-search='true' title='Choose your template...' data-width='auto' name='pickedTemplate' required)
                each n in temp
                    option(value=n.name)= n.name
            br
            br
            input(name='liftDate' type='hidden' value= JSON.stringify(date).replace(/['"]+/g, ''))
            input#submit.btn.btn-primary(type='submit' value='Next')