extends layouts/main-layout
block styles
    title !{JSON.stringify(date).replace(/['"]+/g, '')}
    

block content
    br
    .dropdown
        button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
            | Load template
            span.caret
        ul.dropdown-menu(aria-labelledby='dropdownMenu1')
            li
                a.dropdown-item(href='#') Template #1
            li
                a.dropdown-item(href='#') Template #2
            li
                a.dropdown-item(href='#') Template #3
            li.divider(role='separator')