extends layouts/main-layout

block styles
    script(src='sessionBuilder.js')

block content
    br
    h2.text-center= template.name
    br
    .container
        .row.justify-content-center
            for ex, index in template.exercises
                .card-columns.center
                    form(id= 'ajaxSend' + index action='')
                        .card(style='width: 18rem;')
                            .card-header
                                h5.card-title.font-weight-bold= ex.exerciseName
                                h6.card-subtitle.mb-2.text-muted= 'Target: ' + ex.set + ' sets'
                                h6.card-subtitle.mb-2.text-muted= 'Target: ' + ex.rep + ' reps'
                                h6.card-subtitle.mb-2.font-weight-bold(id= 'progress' + index) Completed Set(s): 
                            .card-body
                                input(name='exerciseName' type='hidden' value= ex.exerciseName)
                                input(name='targetSet' type='hidden' value= ex.set)
                                input(name='targetRep' type='hidden' value= ex.rep)
                                p.card-text Weight used: 
                                    input(class= 'weight' name= 'weight' type='number' min=1)
                                p.card-text Current Set:
                                    input(name= 'set' type='number' value=1 min=1)
                                p.card-text Reps: 
                                    input(name= 'rep' type='number' value=1 min=1)
                                input.btn.btn-primary(id='saveSet' + index type='submit' value='Save Set')
    
            br
            br
            form(id='saveSession' action='/saveSession')
                input.btn.btn-primary(id='saveSession' type='submit' value='Save Session')
            br

    br
    br

            
                                