extends layouts/main-layout

block styles

block content

    br
    br
    .row.justify-content-center
        form(id='confirmSession' action='/confirmSession')
            input.btn.btn-primary(id='confirmSession' type='submit' value='Confirm Session')
        br
        each n in summary
            .card-columns.center
                .card(style='width: 18rem;')
                    .card-header
                        h5.card-title.font-weight-bold= n.exerciseName
                    .card-body
                        h6.card-text= 'Weight Used: ' + n.exerciseDetail.weightUsed
                        h6.card-text= 'Set: ' + n.exerciseDetail.setNumber
                        h6.card-text= 'Reps Performed: ' + n.exerciseDetail.repsPerformed