extends layouts/main-layout
block styles
  title Create a new template
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
  script(src='templateScript.js')

block content
    br
    .container.text-center.forms
        h4 Enter your custom template here:
        form(action='/createTemplate' method='post')
            input(type='text' name='name' placeholder='Template name')
            br
            br
            input#submit.btn.btn-primary(type='submit' value='Save')
            br
            br
            #InputsWrapper
                div
                    input#field_1(name='exercise' type='text' placeholder='Exercise name')
                    input(name='set' type='number' placeholder='Set')
                    input(name='rep' type='number' placeholder='Rep')
                    a.removeclass(href='#')  Remove
        br
        #AddMoreFileId
            a#AddMoreFileBox.btn.btn-primary(href='#') Add Exercise
            br
            br
        #lineBreak
        
