<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Create a new template</title>
        
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="./public/style.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="template.js"></script>
    </head>

    <body class="bg-light">
        <br>
        <div class="container text-center forms">
            <h4>Enter your custom template here:</h4>
            <input type="text" placeholder="Template name"/>
            <br><br>
            <form action="" method="post">
                <div id="InputsWrapper">
                    <div>
                        <input type="text"  id="field_1" placeholder="Exercise name">
                        <input type="number" placeholder="Set"/>
                        <input type="number" placeholder="Rep"/>
                        <a href="#" class="removeclass"> Remove</a>
                    </div>
                </div>
                <br>
                <div id="AddMoreFileId">
                    <a href="#" id="AddMoreFileBox" class="btn btn-primary">Add Exercise</a><br><br>
                </div>
                <div id="lineBreak"></div>
                <input type="submit" id="submit" class="btn btn-primary" name="send" value="Submit">
            </form>
        </div>
        
    
    </body>
    
    
</html>